@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #f7f7f7;
}

@media screen and (max-width:1024px) {
    .flexCol {
        display: flex;
        flex-direction: column-reverse;
    }

}


@media screen and (max-width:1175px) {
    #allInOnes {
        max-width:30rem ;
    }
}
@media screen and (max-width:1020px) {
    #allInOnes {
        max-width:25rem ;
    }
    #allinoneImg{
        width:30rem ;
        height: 45rem;
    }
}
@media screen and (max-width:830px) {
    #allInOnes {
        max-width:100% ;
    }
    #allinoneImg{
 display: none;
    }
}